.example-spacer {
    flex: 1 1 auto;
  }

.main {
    display: grid;
    grid-template-columns: repeat(1fr, 12);
    grid-template-rows: auto minmax(700px, auto) auto;

}

.main{
    display: grid;
    grid-template-rows: auto;
    margin-top: 3rem;   
}

.card {
    width: 60%;
    margin: auto;
    text-align: center
}



mat-form-field {
    width: 70%;
    margin: 10px;
}
mat-card-actions > button {
    padding: 10px;
    margin: 10px;
    width: 50%;
    background-color: #4285F4;

}