.example-spacer {
    flex: 1 1 auto;
  }
/*  */
.main {
    /* min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto; */
    display: grid;
    grid-template-columns: repeat(1fr, 12);
    grid-template-rows: auto 570px auto

}

.card{
    max-width: 400px;
    height: 90%;
    /* width: 100%; */
    margin:auto;

    text-align: center;
  }

 .image{
     width:100px;
     height: 100px;
 }
  
  .example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
div > input{
    width: 80%;
    padding: 10px;
    margin: 10px;
}
mat-card-actions > button {
    width: 60%;
    padding: 10px;
    margin: 10px;
     background-color: #4285F4;
  
}

mat-card-actions{
  margin-bottom: 10px;
}
.section2{
    width: 80%;
    height: 80%;
    margin: auto;
    
}

button {
 
  background-color: #3f51b5;
  color: #fff;
  padding: 10px;
  width: 100px;
}

@media only screen and (max-width: 800px) {

.main{
  grid-template-rows: auto 700px auto

}

  
  
}


