<div class="main">

    <section class="section1">
      <mat-toolbar color="primary">
      
      <span>My App</span>
      <span class="example-spacer"></span>
    
      <div class="example-button-row">
        <button mat-raised-button [routerLink]="['/login']">LOGIN</button>
         
      </div>
      </mat-toolbar>
    </section>

<section class="section2">
  
  <mat-card class="card">
    <h2>SIGN UP FORM</h2> 
    <mat-card-content>
      <form [formGroup] = "registerForm" (ngSubmit)="onSubmit()">
        <div>
          <input type="text" matInput placeholder="firstname" name="firstname" formControlName="firstname">
            <div>
              <span *ngIf="registerForm.get('firstname').errors?.required && registerForm.get('firstname').touched">firstname is required</span>
            </div>
        </div>
  
          <div>
              <input type="text"matInput placeholder="lastname" name="lastname" formControlName="lastname">
              <div>
                <span *ngIf="registerForm.get('lastname').errors?.required && registerForm.get('lastname').touched">lastname is required</span>
              </div>
          </div>
          <div>
              <input type="text" matInput placeholder="email" name="email" formControlName="email">
              <div>
                <span *ngIf="registerForm.get('email').errors?.required && registerForm.get('email').touched">email is required</span>
                <span *ngIf="registerForm.get('email').errors?.email && registerForm.get('email').touched">must be an email</span>
              </div>
            
          </div>
          <div  formGroupName="passwordGroup">
              <div>
                  <input type="password" matInput placeholder="password" name="password" formControlName="password">
                  <div>
                    <span *ngIf="registerForm.get('passwordGroup.password').errors?.required && registerForm.get('passwordGroup.password').touched">password is required</span>
                    <span *ngIf="registerForm.get('passwordGroup.password').errors?.minlength && registerForm.get('passwordGroup.password').touched">password must be more than six characters</span>      
                  </div>
              
              </div>
              <div>
                  <input type="password" matInput placeholder="confirmPassword" name="confirmPassword" formControlName="confirmPassword">
                  <div>
                    <span *ngIf="registerForm.get('passwordGroup.confirmPassword').errors?.required && registerForm.get('passwordGroup.confirmPassword').touched">password is required</span>
                    <span *ngIf="registerForm.get('passwordGroup.confirmPassword').errors?.minlength && registerForm.get('passwordGroup.confirmPassword').touched">password must be more than six characters</span>      
                    <span *ngIf="registerForm.get('passwordGroup').errors?.match">Passwords do not match</span>      
                  </div>
 
              </div>
          </div>
  
          <div class="radios">
              <div>
                <label for="teacher">
                  <input type="radio" id="teacher" name="position" value="teacher" formControlName="position"> Teacher
                </label>
              </div>
              <div>
                <label for="head">
                  <input type="radio" id="head" name="position" value="head" formControlName="position">Headmaster
                </label>
              </div>
             <div>
              <label for="account">
                <input type="radio" id="account" name="position" value="account" formControlName="position">Account
            </label>
             </div>
            
           
              <span *ngIf="registerForm.get('position').errors?.required && registerForm.get('position').touched">required</span>
          </div>
         
            <mat-card-actions>
              <button [disabled]="registerForm.invalid">submit</button>
            </mat-card-actions>
        </form>
    </mat-card-content>
   
  </mat-card>
 

</section>
<section class="section3">
  <mat-toolbar color="primary">
     
    <div class="foot">
      <small>&copy; 2021 myapps.com</small>
   </div>

  </mat-toolbar>

</section>
</div>

