<div class="main">

    <h2>{{message}}</h2>


    <form #form="ngForm" (ngSubmit)="onSubmit()">
       
        <div>
            <input matInput placeholder="twitter handle/username......eg: @pyrnce_py" [(ngModel)]="feedback.username" required name="username" #usernameField='ngModel' type="text">
            <div>
                <small [hidden] = "usernameField.valid || usernameField.untouched">handle is required</small>
            </div>
        </div>
        <div>
            <textarea matInput [(ngModel)]="feedback.text" required name="text" #textField='ngModel' type="text"></textarea>
            <div>
                <small [hidden] = "textField.valid || textField.untouched">textField is required</small>
            </div>

        </div>
      
        <mat-card-actions>
            <button   [disabled]="form.invalid">submit</button>
        </mat-card-actions>
    </form>
</div>
