<p>{{currentStudent.firstname}}</p>
<div class="main">
    <form #form="ngForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
            <input matInput  type="number" placeholder="enter amount paid" required name="paid" #amountPaidField='ngModel' [(ngModel)]="amount.paid">
        </mat-form-field>
        <div>
            <button mat-button [disabled]="form.invalid">submit</button>
        </div>
    </form>
  
    <div class="buttons">
        <mat-icon (click)="previousStudent()">keyboard_arrow_left</mat-icon>
        <mat-icon (click)="nextStudent()">keyboard_arrow_right</mat-icon>
    </div>
</div>

