mat-form-field {
    width: 70%;
    margin: 10px;
}

form {
    width: 90%;
    margin: auto;
    text-align: center;
}

form button {
    width: 50%;
    padding: 6px;
    background-color: #4285F4;
    color: #fff;
    margin: 10px;
}

p{
    text-align: center;
}

.buttons{
    margin-top:1em;
    text-align: center;
}