.main{
    text-align: center;
}

.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
div > input{
    width: 80%;
    padding: 10px;
    margin: 10px;
}
mat-card-actions > button {
    width: 60%;
    padding: 10px;
    margin: 10px;
     background-color: #4285F4;
  
}
textarea{
    width: 80%;
    padding: 10px;
    margin: 10px;
    height:200px
}

mat-card-actions{
  margin-bottom: 10px;
}