<div class="icon">
    <mat-icon (click) = "closeDialog()"> cancel_presentation</mat-icon>
</div>
<div class="main">
    <div class="heading" *ngIf = "currentStudent">
        <div class="img">
            <span><img class="image" mat-card-image src="https://www.pinclipart.com/picdir/middle/157-1578186_user-profile-default-image-png-clipart.png" alt="User Profile">
             </span>
        </div>
        <div >
            <p>Student's Name</p>
            <p>{{currentStudent.firstname}}</p>
            
        </div>
    </div>
   
    <form #form="ngForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
            <input matInput  type="number" placeholder="enter class score" required name="class_score" #class_scoreField='ngModel' [(ngModel)]="marks.classScore">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <input matInput  type="number" placeholder="enter exam score" required name="exam_score" #class_scoreField='ngModel' [(ngModel)]="marks.examScore">
        </mat-form-field>

        <div>
            <button mat-button [disabled]="form.invalid">submit</button>
        </div>
    </form>
    




    <!-- <form #form="ngForm" (ngSubmit)="onSubmit()"> -->
        <!-- <input type="number" placeholder="enter class score" required name="class_score" #class_scoreField='ngModel' [(ngModel)]="marks.classScore"> -->
        <!-- <span [hidden] = "usernameField.valid || usernameField.untouched">username is required</span> -->
        <!-- <input type="number" placeholder="enter exam score" required name="exam_score" #class_scoreField='ngModel' [(ngModel)]="marks.examScore"> -->
        <!-- <span [hidden] = "passwordField.valid || passwordField.untouched">password is required</span> -->
        <!-- <button [disabled]="form.invalid">submit</button> -->

    <!-- </form> -->
    <div class="buttons">
        <mat-icon (click)="previousStudent()">keyboard_arrow_left</mat-icon>
        <mat-icon (click)="nextStudent()">keyboard_arrow_right</mat-icon>
    </div>

</div>

