:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .image{
    width:100px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

 .img{
     text-align: center;
 }
 .upper{
     display: flex;
     justify-content: space-between;

     /* justify-content: space-between; */
 }
  
mat-form-field {
    width: 80%;
    margin: 10px;
}

.main {
    text-align: center;
    width:80%;
    height: 80%;
    margin: auto;
}

form {
    width:80%;
    margin: auto;
    text-align: center;
}
form button {
    width: 50%;
    padding: 6px;
    background-color: #4285F4;
    color: #fff;
    margin: 10px;
}


.heading > div {
    display: flex;
    justify-content: space-evenly;
}