<mat-drawer-container class="example-container">
    <mat-drawer #sidenav class="mat-elevation-z10" [mode]="isScreenSmall ? 'over' : 'side'" [opened] = "!isScreenSmall" >
        <div>
            <mat-toolbar color="primary">
    
                <div class="foot">
                    <span>DASHBOARD</span>
                </div>
                </mat-toolbar>
   
        </div>
        <div class="sidenav">
            <section class="sectionA">
                <h2>class Master</h2>
                <a [routerLink]="['classDetails']">{{teachersData.data.classTeacher}}</a>
            </section>
            
            <div *ngIf="teachersData.data" class="sectionB">
                <h3>Subjects You teach</h3>
                    <div *ngFor="let classes of teachersData.data.subjectGroup">
                            <p>
                                {{classes.class}}
                            </p>
                            <div *ngFor= "let subjects of classes.subjects" class="classes">
                                <!-- {{classes.class}} -->
                                <a [routerLink]="['subjectDetails', subjects.subject]" [queryParams]="{class:classes.class}">{{subjects.subject}}</a>
                            </div>
                    </div>
            </div>
            <div class="sectionC">
                <h4>Personal Info</h4>
                <a [routerLink]="['aboutTeacher']">You</a>
            </div>
        </div>

    </mat-drawer>
    <mat-drawer-content>
        <div class="main">
            <div class="section1">
                
                    <mat-toolbar color="primary">
                        <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                          
                        </button> -->
                        <mat-icon class="icon" (click) ="sidenav.toggle()">menu</mat-icon>
                        
                        <span class="example-spacer"></span>
    
                        <div class="example-button-row">
                            <span>My App</span>
                           
                        </div>
                      
                        </mat-toolbar>
           
            </div>  
            <div class="section2">
                <router-outlet></router-outlet>
            </div>
            <div class="section3">
                <mat-toolbar color="primary">
                
                    <div class="foot">
                        <small>&copy; 2021 myapps.com</small>
                    </div>
                  
                  
                    </mat-toolbar>
            </div>
            
       
        
        </div>
    
    </mat-drawer-content>
  </mat-drawer-container>
  

