<mat-drawer-container class="example-container">
    <mat-drawer #sidenav class="mat-elevation-z10" [mode]="isScreenSmall ? 'over' : 'side'" [opened] = "!isScreenSmall" >
        <div>
            <mat-toolbar color="primary">
    
                <div class="foot">
                    <span>DASHBOARD</span>
                </div>
                </mat-toolbar>
   
        </div>
        <nav  class="sidenav">
            <section >
                <ul>
                    <li>                                   
                        <a >
                        
                        <span class="nav-text">class Master</span>
                        </a>
                        </li> 
                </ul>
                <ul>
                    <li >                                   
                        <a >
                        
                        <span ><a [routerLink]="['classDetails']">{{teachersData.data.classTeacher}}</a></span>
                        </a>
                        </li> 
                </ul>
            </section>
            
            
            <div *ngIf="teachersData.data" >
                <ul>
                    <li >                                   
                        <a >
                        
                        <!-- <mat-icon class="fa">check_circle</mat-icon> -->
                        <span class="nav-text">
                            Subjects You teach

                        </span>
                        </a>
                        </li> 
                </ul>
                    <div *ngFor="let classes of teachersData.data.subjectGroup">
                         <ul>
                            <li >                                   
                                <a >
                                
                                <span class="nav-text">
                                {{classes.class}}

                                </span>
                                </a>
                                </li> 
                        </ul>
                          
                            <div *ngFor= "let subjects of classes.subjects" >
                                <!-- {{classes.class}} -->
                                <ul>
                                    <li >                                   
                                        <a >
                                        
                                        <span >
                                            <a [routerLink]="['subjectDetails', subjects.subject]" [queryParams]="{class:classes.class}">{{subjects.subject}}</a>
        
                                        </span>
                                        </a>
                                        </li> 
                                </ul>
                                <!-- <p>
                                <a [routerLink]="['subjectDetails', subjects.subject]" [queryParams]="{class:classes.class}">{{subjects.subject}}</a>

                                </p> -->
                            </div>
                    </div>
            </div>
            <div >
                <ul>
                    <li >                                   
                        <a >
                        
                        <span class="nav-text">
                            Personal Info

                        </span>
                        </a>
                        </li> 
                </ul>
                <ul>
                    <li >                                   
                        <a >
                        
                        <span >
                            <a [routerLink]="['aboutTeacher']">You</a>


                        </span>
                        </a>
                        </li> 
                </ul>
            </div>
        </nav>

    </mat-drawer>
    <mat-drawer-content>
        <div class="main">
            <div class="section1">
                
                    <mat-toolbar color="primary">
                        <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                          
                        </button> -->
                        <mat-icon class="icon" (click) ="sidenav.toggle()">menu</mat-icon>
                        
                        <span class="example-spacer"></span>
    
                        <div class="example-button-row">
                            <span>My App</span>
                           
                        </div>
                      
                        </mat-toolbar>
           
            </div>  
            <div class="section2">
                <router-outlet></router-outlet>
            </div>
            <div class="section3">
                <mat-toolbar color="primary">
                
                    <div class="foot">
                        <small>&copy; 2021 myapps.com</small>
                    </div>
                  
                  
                    </mat-toolbar>
            </div>
            
       
        
        </div>
    
    </mat-drawer-content>
  </mat-drawer-container>
  

