<form [formGroup] = "teacherRegisterForm" (ngSubmit)="onSubmit()">
    <div>
        <select name="state" formControlName="status" id="" >
            <option value="" disabled selected hidden> select status</option>
            <option value="Subject Teacher only" > Subject Teacher only</option>
            <option value="Class Teacher and subject teacher"> Class Teacher and subject teacher</option>
        </select>
    </div>
    <div>
        
        <select name="classTeacher" formControlName="classTeacher" id="" *ngIf="teachersData$ | async as teacherData">
            <option value="" disabled selected hidden>select Class</option>
            <option  *ngFor="let item of teacherData" [value]="item.class">{{item.class}}</option>
            <!-- <option value="JHS 2" > JHS 2</option> -->
        </select>
    </div>


    <div formArrayName="subjectGroup" *ngFor="let classes of subjects.controls; let i=index">
        <div [formGroupName] = "i" >
            <small>subscribed to the valueChanges of the observable >>>>></small>
            <select name="class" formControlName="class" id="" *ngIf="teachersData$ | async as teacherData">
                <option value="" disabled selected hidden>select Class you lecture</option> 
                <option *ngFor="let item of teacherData" [value]="item.class"> {{item.class}}</option>
            </select>
          
            <div  formArrayName="subjects"   *ngFor="let class of classes.get('subjects').controls; let i=index" >
                <div  [formGroupName] = "i" *ngIf="classWithSubjects$ | async as classWithSubjects">
                    <select name="subject"  formControlName="subject" id="" >
                        <option value="" disabled selected hidden>select subject</option>
                        <option *ngFor="let subjects of classWithSubjects" [value]="subjects.subject" > {{subjects.subject }}</option>
                    </select>
                </div>
            </div>
            <button (click)="addIndividualSubs(classes)"  *ngIf="classWithSubjects$ | async as classWithSubjects">add another subject</button>
        </div>
    </div>
    <button (click)="addSubjects()">add another class you lecture</button>
    <button [disabled]="teacherRegisterForm.invalid">submit</button>
</form>
