<div class="icon">
    <mat-icon (click) = "closeDialog()"> cancel_presentation</mat-icon>
</div>

<div class="img">
    <span><img class="image" mat-card-image src="https://www.pinclipart.com/picdir/middle/157-1578186_user-profile-default-image-png-clipart.png" alt="User Profile">
     </span>
</div>

<div class="main">
      
    <form #form="ngForm" (ngSubmit)="addStudent()">
        <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="firstname" required name="firstname" #firstnameField='ngModel' [(ngModel)]="studentsData.firstname">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="lastname" required name="lastname" #lastnameField='ngModel' [(ngModel)]="studentsData.lastname">   
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput type="number" placeholder="age" required name="age" #ageField='ngModel' [(ngModel)]="studentsData.age">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput type="number" placeholder="tel number" required name="guardians_tel" #guardians_telField='ngModel' [(ngModel)]="studentsData.guardians_tel">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-select name="gender"  genderField='ngModel' [(ngModel)]="studentsData.gender">
                <mat-option value="" disabled selected hidden>select  Gender</mat-option> 
                <mat-option  value="M"> Male</mat-option>
                <mat-option  value="F"> Female</mat-option>
            </mat-select>
        </mat-form-field>
       
        <!-- <span [hidden] = "usernameField.valid || usernameField.untouched">username is required</span> -->
        <!-- <input type="password" placeholder="password" required name="password" #passwordField = 'ngModel' [(ngModel)]="studentsData.password"> -->
        <!-- <span [hidden] = "passwordField.valid || passwordField.untouched">password is required</span> -->
        <div>
            <button [disabled]="form.invalid">submit</button>
        </div>
    
    </form>
</div>


