<div class="head">
    <mat-icon (click) = "onDelete()">delete</mat-icon>
    <mat-icon (click) = "closeDialog()"> cancel_presentation</mat-icon>

</div>
<p>{{currentStudent.firstname}}</p>
<div class="main">
    <form #form="ngForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
            <input matInput  type="number" placeholder="enter amount paid" required name="paid" #amountPaidField='ngModel' [(ngModel)]="amount.paid">
        </mat-form-field>
        <div>
            <button mat-button [disabled]="form.invalid">Edit</button>
        </div>
    </form>
 
</div>
