mat-form-field {
    width: 70%;
    margin: 10px;
}

form {
    width: 80%;
    margin: auto;
    text-align: center;
}

form button {
    width: 50%;
    padding: 6px;
    background-color: #4285F4;
    color: #fff;
    margin: 10px;
}


.delete{
    margin-top: 10px;
}
.image{
    width:100px;
    height: 100px;
}

.img{
    text-align: center;
}


