<p>students-data works!</p>

<div *ngIf = "teachersData.data?.classTeacher ">
    <table *ngFor = "let sub of subjects$ | async; " >
        <tr>
            <th></th>
            <th>firsname</th>
            <th>lastname</th>     
            <th *ngFor ="let i of sub">{{i.subject + " CS"}} {{i.subject + " ES"}}</th>
            <th>gender</th>
            <th>tel</th> 
        </tr>
        <tr *ngFor="let student of classData$ | async">
            <td></td>
            <td>{{student.firstname}}</td>
            <td>{{student.lastname}}</td>
            <td *ngFor ="let i of sub">{{student[i.subject]?.classScore}} {{student[i.subject]?.examScore}}</td>
        </tr>
    </table>
</div>

<div *ngIf = "headClass && headClass.length">
    <p>hello world ehdgsred </p>
    <table *ngFor = "let sub of subjects$ | async; " >
        <tr>
            <th></th>
            <th>firsname</th>
            <th>lastname</th>     
            <th *ngFor ="let i of sub">{{i.subject + " CS"}} {{i.subject + " ES"}}</th>
            <th>gender</th>
            <th>tel</th> 
        </tr>
        <tr *ngFor="let student of headClass">
            <td></td>
            <td>{{student.firstname}}</td>
            <td>{{student.lastname}}</td>
            <td *ngFor ="let i of sub">{{student[i.subject]?.classScore}} {{student[i.subject]?.examScore}}</td>
        </tr>
    </table>
</div>


