table {
    width: 100%;
    
  }
  .example-container {
    /* height: 600px; */
    width: 100%;
    max-width: 100%;
    overflow: auto;
    margin:0 auto
  }

  .upper{
    display:flex;
    justify-content: space-between;
  }

  .upper > div{
    margin-top: 10px;
  }

  button {
  
    background-color:#4285F4;
    color: #fff;            
    padding: 4px;
    width: 100px;
  }

  .mat-form-field {
    font-size: 14px;
    width: 70%;
  }
  ul li{
    list-style-type: none;
    padding:0.2em;
  }
  ul{
    display:flex;
    justify-content: space-evenly;
  }

  th.mat-header-cell, td.mat-cell, td.mat-footer-cell {

    padding: 1em;
}


  @media only screen and (max-width: 800px) {
    .upper{
      margin-top: 1em;
    }

    .upper > div{
      margin-top: 10px;
    }
    .example-container {
      /* height: 600px; */
      width: 350px;
      max-width: 100%;
      overflow: auto;
    }
    
    .table {
      width: 100%;
    }
 
    
    th.mat-column-position, td.mat-column-position {
      padding-left: 8px;
    }
    
    .mat-table-sticky-border-elem-right {
      border-left: 1px solid #e0e0e0;
    }
    
    .mat-table-sticky-border-elem-left {
      border-right: 1px solid #e0e0e0;
    }

 
    
    
  }

 