<div class="main">
    <section class="section1">
        <mat-toolbar color="primary">
      
        <span>My App</span>
     
        </mat-toolbar>
    </section>
    
    <section class="section2">
    
        <div>
            <h2>Youve been logged out successfully... click <a  [routerLink]="['/login']"> here</a>  to log in</h2>
        </div>

        
        <div>
            <button (click) = "openFeedback()">feedback</button>
        </div>
          
    </section>

    <section class="section3">
        <mat-toolbar color="primary">
           <div class="foot">
               <small>&copy; 2021 myapps.com</small>
           </div>
  
        </mat-toolbar>

    </section>
 
</div>
  



