/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.foot{
    margin: 0 auto;
  }

mat-icon{
    background-color:#4285F4;
    color: #fff;

}

