<section>
    <h2>for quick login</h2>
    <div>
        <p>use teach@gmail.com as email</p>
        <p>and teach123 as password to login as <strong>a teacher</strong></p>
    </div>
    <div>
        <p>use head@gmail.com as email</p>
        <p>and head123 as password to login as <strong>a head</strong></p>
    </div>
    <div>
        <p>use acc@gmail.com as email</p>
        <p>and acc123 as password to login as <strong>an account staff</strong></p>
    </div>

    <div class="but">
        <button (click) ="closeDialog()">u cool?</button>
    </div>
</section>
